# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/

# Environment variables
.env

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Test & coverage
.pytest_cache/
.coverage
htmlcov/

# Alembic (keep these!)
# DO NOT ignore:
# alembic/
# alembic.ini

uploads/